$color1: #B1D0E0;
$color2: #6998AB;
$color3: #406882;
$color4: #1A374D;

$mediumWidth: 400px;
$bigWidth: 500px;
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: $color1;
}
.App{
    box-sizing: border-box;
    max-width: 280px;
    min-height: 100px;
    padding: 0 20px;
    margin: 40px auto;
    border-radius: 8px;
    background-color: $color2;
    @media(min-width: $mediumWidth){
        max-width: 380px;
    }
    @media(min-width: $bigWidth) {
        max-width: 480px;
    }
}